:root{
    --color-blue-dark: #0065FC;
    --color-blue-light: #DEEBFF;
    --color-gray-light: #F2F2F2;
}

html{
    /* 10 / 16 = 0.625 => defined 1rem = 10px */
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
}

a{
    color: currentColor;
    text-decoration: none;
}

li{
    list-style: none;
}

.container{
    width: 134rem;
}

/*================
    HEADER START
================*/

.header{
    display: grid;
    grid-template-columns: [full-start]1fr minmax(min-content, 34rem) minmax(min-content, 15rem) [full-end];
    align-items: center;
}

.header__logo-box{
    padding: 5rem 0;
}

.nav{
    align-self: stretch;
}

.nav__list{
    display: flex;
    height: 100%;
}

.nav__item{
    margin-right: 2rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav__link:hover{
    color: var(--color-blue-dark);
    transition: all .2s;
}

.nav__link::before{
    content: "";
    height: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;   
}

.nav__link:hover::before{
    height: 3px;
    background-color: currentColor;
    transition: height .2s;
}

.register{
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register__link{
    color: var(--color-blue-dark);
    font-weight: 600;
}

.heading-primary{
    grid-column: full-start / full-end;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    /* line-height: 4rem; */
}

.heading-primary--sub{
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 2rem;
}

.search{
    grid-column: full-start / full-end;
    display: flex;
    margin-top: 3rem;
}

.search__input{
    border: solid 2px var(--color-gray-light);
    width: 21rem;
}

.search__input::placeholder{
    color: #000;
    font-weight: 700;
    padding-left: 2rem;
}

.search__btn-text{
    padding: 0 2rem;
}

.search__btn-icon.icon-box{
    display: none;
}

/*===============
    HEADER END
===============*/

.btn{
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--search{
    font-size: inherit;
    font-weight: 600;
    color: #fff;
    background-color: var(--color-blue-dark);
    border-radius: 0 1.5rem 1.5rem 0;
    transform: translateX(-2px);
}

/*===============
    ICON START
===============*/

.icon-box{
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-box--gray{
    background-color: var(--color-gray-light);
    border-radius: 1.5rem 0 0 1.5rem;
}
.icon{
    height: 2rem;
    width: 2rem;
}

.icon--black{
    fill: #000;
}

.icon--white{
    fill: #fff;
}

/*===============
    ICON END
===============*/


/*=================
    MEDIA QUERIES
=================*/

/* large device */
@media only screen and (max-width: 1340px){
    html{
        /* 8 / 16 = 0.5 => defined 1rem = 8px */
        font-size: 50%;
    }

    body{
       font-size: 2rem;
    }

    .heading-primary{
        font-size: 2.5rem;
    }

    .heading-primary--sub{
        font-size: 2rem;
    }
}

/* medium device */
@media only screen and (max-width: 1100px){
    .container{
        width: 100%;
        padding: 0 3rem;
    }
}

@media only screen and (max-width: 600px){
    .container{
        padding: 0;
    }

    .header{
        grid-template-columns: 2rem [full-start] 1fr repeat(2, min-content) [full-end] 2rem;
        align-items: start;
        height: 50vh;
    }

    .header__logo-box{
        grid-column: full-start / 3;
        align-self: center;
        padding: 0;
    }

    .nav{
        grid-column: 1 / -1;
        align-self: stretch;
    }

    .nav__list{
        height: initial;
    }

    .nav__item{
        margin: 0;
        height: 4rem;
    }


    .nav__link::before{
        top: 100%;
        height: 3px;
        background-color: var(--color-gray-light);
    }

    .register{
        grid-column: 3/5;
        grid-row: 1/2;
    }

    .heading-primary{
        font-size: 3rem;
    }

    .heading-primary--sub{
        font-size: 2.4rem;
    }

    .search{
        margin: 0;
    }

    .search__input{
        flex: 1;
    }

    .search__btn-text{
        display: none;
    }

    .search__btn-icon.icon-box{
        display: flex;
    }

    .btn--search{
        border-radius: 1.5rem;
        transform: translateX(-1rem);
    }
}